# Web Framework
fastapi
uvicorn
python-multipart

# AWS Services
boto3

# Machine Learning
xgboost
pandas
numpy

# Data Validation
pydantic

# Environment Variables
python-dotenv


# Utilities
python-dateutil
requests