# Web Framework
fastapi
uvicorn
python-multipart

# AWS Services
boto3

# Machine Learning
xgboost
scikit-learn
pandas
numpy

# Deep Learning (Deepfake Detection)
# tensorflow
# opencv-python
# deepface

# Data Validation
pydantic

# Environment Variables
python-dotenv

# Image Processing
pillow

# Utilities
python-dateutil